#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }

  #app aside {
    margin-right: 0px;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 600px) {
  #app main ul {
    grid-template-columns: 1fr;
  }
}
